body {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}


/*general style*/
section {
      padding:5%;
      margin: 1%;
    }
h3{text-align:center;
  font-size:2.5rem;
}
.container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



.image6 {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
.text-container6 {
  text-align: center;
  margin-top: 20px;
  max-width: 100%;
}
.page-title6 {
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0;
  padding-top: 20px;
  text-align: left;
}
.page-paragraph6 {
  font-size: 16px;
  margin: 10px 0;
  max-width: 100%;
  text-align: left;
}
.button-container6 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.green-button6 {
  background-color: #00587A;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 30px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.green-button6:hover {
  background-color: #00587A;
  transform: scale(1.05);
}
@media (min-width: 769px) {
  .container6 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-container6 {
    justify-content: flex-start;
  }
  .image6 {
    width: 50%;
    margin-right: 20px;
    margin-top: 0;
  }
  .text-container6 {
    width: 50%;
    text-align: left;
  }
  .page-paragraph6 {
    text-align: left;
  }
  .green-button6 {
    padding: 1.5% 10%;
    font-size: 1.2rem;
  }
}
.services-main,.why-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-card {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background: linear-gradient(225deg, hsla(172, 79%, 83%, 1) 0%, hsla(173, 100%, 89%, 1) 0%, hsla(210, 75%, 92%, 1) 30%, hsla(168, 48%, 89%, 1) 57%, hsla(210, 75%, 92%, 1) 78%, hsla(173, 100%, 89%, 1) 100%);
  margin: 1rem;
  flex: 1 0 300px;
}

.service-card-img, .why-us-card-img  {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.h4s
{
  font-size:1.8rem
}

.why-us-card {
  padding: 1rem;
  border-radius: 10px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
margin: 0.5rem;
  flex: 1 0 150px;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 50px;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info h2 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li i {
  margin-right: 10px;
  font-size: 20px;
}

ul li i.fas {
  color: #ffa500; /* Change color of phone icon */
}

ul li i.far {
  color: #ff4500; /* Change color of envelope icon */
}

ul li i.fab {
  color: #bc2a8d; /* Change color of Instagram icon */
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.icon-link {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #fff;
  transition: transform 0.3s ease;
}

.icon-link:hover {
  transform: scale(1.2);
}


.testimonials {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:5px;
}

.testimonial {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  flex: 0 1 calc(33.333% - 40px); /* 3 testimonials per row with spacing */
  margin-bottom: 30px;
  text-align: center;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.author {
  font-weight: bold;
  color: #666;
}

@media screen and (max-width: 768px) {
  .testimonial {
    flex: 0 1 calc(50% - 40px); /* 2 testimonials per row with spacing */
  }
}

@media screen and (max-width: 480px) {
  .testimonial {
    flex: 0 1 calc(100% - 40px); /* 1 testimonial per row with spacing */
  }
}

.portfolio56main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio56c {
  margin: 20px;
  width: calc(33.33% - 40px);
  max-width: 300px;
  text-align: center;
}

.img56 {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.portfolio56c h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.portfolio56c p {
  margin-bottom: 20px;
}

.text-button56 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.text-button56:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .portfolio56c {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 480px) {
  .portfolio56c {
    width: calc(100% - 40px);
  }
}

