body {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}


/*general style*/

P {
  line-height: 1.5rem;
font-size:14px
}

h3 {
  text-align:center;
  font-size:2.5rem;
}
h4 {
  font-size: 1.5rem
  }

section {
  padding: 5%;
  margin: 1%;
  border-bottom: 1px solid #d4d4d4;
}

button {
  background-color: #02c7b3;
  color: #fff;
  padding: 0.5rem 1.8rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}
/*general style end*/


.container6main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container6 {
  border-radius: 10px;
  margin: 0;
  flex: 1 1 45%; 
  max-width: 45%;
}

.image6 {
  width: 100%;
  height: auto;
}
.button6:hover {
  border-radius: 1.5rem;
  background-color: #01a393;
  transform: scale(1.05);
}


/* Responsive Layout */
@media (max-width: 768px) {
  .container6 {
    flex-basis: 100%;
    max-width: 100%;
    .title6{font-size: 1.5rem;
       }
  }
}

.title6{font-size: 2.3rem;
  font-weight: 600;}

.services-main,.why-us-container,.portfolio56main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:1rem;
  gap:1rem
}

.services-card {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background: linear-gradient(225deg, hsla(172, 79%, 83%, 1) 0%, hsla(173, 100%, 89%, 1) 0%, hsla(210, 75%, 92%, 1) 30%, hsla(168, 48%, 89%, 1) 57%, hsla(210, 75%, 92%, 1) 78%, hsla(173, 100%, 89%, 1) 100%);
flex: 1 0 180px;
  transition: all 0.3s ease;
}

.service-card-img  {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.h4s {
  font-size:1.8rem;
  padding-top:1rem;
  margin: 0px;
}

.why-us-card {
  padding: 1.5rem;
  border-radius: 1rem;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex: 1 0 230px;
  transition: all 0.3s ease;
}

.portfolio56c {
  text-align: center;
   flex: 1 0 250px;
   border-radius: 10px;
  padding-bottom: 10px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.img56 {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 250px;
  
}

.portfolio56c h4 {
 Padding:1rem;
  margin: 0px;
}

.text-button56 {
  background: none;
  color: #02c7b3;
}
.text-button56:hover{
  text-decoration: underline;
  transform: scale(1.05);
  color: #01a393;

}

/*footer Code*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info h2 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li i {
  margin-right: 10px;
  font-size: 20px;
}

ul li i.fas {
  color: #ffa500; /* Change color of phone icon */
}

ul li i.far {
  color: #ff4500; /* Change color of envelope icon */
}

ul li i.fab {
  color: #bc2a8d; /* Change color of Instagram icon */
}


/*hover and interaction design*/
.services-card:hover {
   transform: scale(1.05) rotate(360deg);
   filter: saturate(2);
}

