body {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}


/*general style*/
P {
  line-height: 1.5rem;
font-size:14px
}

h3 {
  text-align:center;
  font-size:2.5rem;
}
h4 {
  font-size: 1.5rem
  }

section {
  padding: 5%;
  margin: 1%;
  border-bottom: 1px solid #d4d4d4;
}
/*general style end*/


.container6main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container6 {
  border-radius: 10px;
  margin: 0;
  flex: 1 1 45%; 
  max-width: 45%;
}

.image6 {
  width: 100%;
  height: auto;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .container6 {
    flex-basis: 100%;
    max-width: 100%;
    .title6{font-size: 1.5rem;
       }
  }
}

.title6{font-size: 2.3rem;
  font-weight: 600;}
.green-button6 {
  background-color: #00587A;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 0.5rem;
  cursor: pointer;
  border:none;
}

.services-main,.why-us-container,.portfolio56main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:1rem;
  gap:1rem
}

.services-card {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background: linear-gradient(225deg, hsla(172, 79%, 83%, 1) 0%, hsla(173, 100%, 89%, 1) 0%, hsla(210, 75%, 92%, 1) 30%, hsla(168, 48%, 89%, 1) 57%, hsla(210, 75%, 92%, 1) 78%, hsla(173, 100%, 89%, 1) 100%);
flex: 1 0 100px;
}

.service-card-img  {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.h4s {
  font-size:1.8rem;
  padding-top:1rem;
  margin: 0px;
}

.why-us-card {
  padding: 1.5rem;
  border-radius: 1rem;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex: 1 0 230px;
}

.portfolio56c {
  text-align: center;
  background-color: #5555;
   flex: 1 0 250px;
   border-radius: 10px;
  padding-bottom: 10px;
}

.img56 {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 250px;
  
}

.portfolio56c h4 {
 Padding:1rem;
  margin: 0px;
}


.text-button56 {
  display:inline-block;
  padding: 10px 50px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}


.testimonials {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:5px;
}

.testimonial {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  flex: 0 1 calc(33.333% - 40px); /* 3 testimonials per row with spacing */
  margin-bottom: 30px;
  text-align: center;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.author {
  font-weight: bold;
  color: #666;
}

@media screen and (max-width: 768px) {
  .testimonial {
    flex: 0 1 calc(50% - 40px); /* 2 testimonials per row with spacing */
  }
}

@media screen and (max-width: 480px) {
  .testimonial {
    flex: 0 1 calc(100% - 40px); /* 1 testimonial per row with spacing */
  }
}

/*footer Code*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info h2 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li i {
  margin-right: 10px;
  font-size: 20px;
}

ul li i.fas {
  color: #ffa500; /* Change color of phone icon */
}

ul li i.far {
  color: #ff4500; /* Change color of envelope icon */
}

ul li i.fab {
  color: #bc2a8d; /* Change color of Instagram icon */
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.icon-link {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #fff;
  transition: transform 0.3s ease;
}

.icon-link:hover {
  transform: scale(1.2);
}

